.photos {

margin: $space/2 0;

@include block-grid(2);

@include breakpoint(em(420)){
	@include block-grid(3);
}

@include breakpoint(em(955)){
	@include block-grid(4);		
}
	

	li a {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		display: block;
		 span {
			text-indent: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		display: block;
		}

		&:before{
			content: "";
			display: block;
			padding-top: 100%; 	/* initial ratio of 1:1*/
		  }

	}

}
