body.login {
	background: #FFF !important;
}

#login {
	padding: 1% 0 0;
}


#login h1 {
	margin-left: 5px !important;
	text-align: center;
}

#login h1 a { 
background-image: url("../img/main-logo.png") !important; 
background-repeat: no-repeat !important;
	-webkit-background-size: 150px 150px;
	background-size: 150px 150px;
	width:150px !important;
	height: 150px !important;


	display: block;
	margin:0 auto;
	}


.login form {
	box-shadow: inherit;
	border-top:1px #CCC dotted;
	border-bottom:1px #CCC dotted;
}	
	