/*
Syntax error: Undefined variable: "$link-color".
        on line 17 of /Users/paulburgess/Google Drive/Websites/eia-v2/wp-content/themes/eia-v2/_/sass/top-strip.scss

Backtrace:
/Users/paulburgess/Google Drive/Websites/eia-v2/wp-content/themes/eia-v2/_/sass/top-strip.scss:17
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:124:in `map'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/funcall.rb:124:in `_perform'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:121:in `with_frame'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:79:in `with_base'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:121:in `with_frame'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:79:in `with_base'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:121:in `with_frame'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/stack.rb:79:in `with_base'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/sass-3.3.3/lib/sass/engine.rb:274:in `render'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:153:in `timed'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:166:in `block in compile'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/logger.rb:46:in `red'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:165:in `compile'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:127:in `each'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:127:in `block in run'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:153:in `timed'
/Users/paulburgess/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:126:in `run'
/Applications/Mixture.app/Contents/Resources/gems/compass_runner.rb:20:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$link-color\".\A         on line 17 of /Users/paulburgess/Google Drive/Websites/eia-v2/wp-content/themes/eia-v2/_/sass/top-strip.scss"; }
